/*$mainBackgroundColor: #171629;
$darkPurpleText: #c9b7db;
$neonPurple: #8b50e3;*/

.main-nav-link-not-active:hover {
  color: #8b50e3;
}

.main-nav-link-active {
  color: #c9b7db !important;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: solid;
  border-color: #8b50e3;
  padding-bottom: 7px;
  font-size: 18px !important;
  font-family: lft-etica-mono;
}

.main-nav-link-not-active {
  color: #c9b7db;
  text-decoration: none;
  padding-left: 15px;
  padding-right: 15px;
  font-size: 18px !important;
  font-family: lft-etica-mono;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
