/*EVENTS*/

.event-page {
  width: 80%;
}

.event-subtitle {
  text-align: left;
  padding-bottom: 10px;
  color: #8b50e3;
  font-weight: 300;
}

/*#4daa5b*/

.event-title {
  font-weight: bold;
  font-size: 25px;
  text-align: left;
  color: #efe5f9;
}

.event-tech {
  color: #8b50e3;
  font-weight: 300;
  padding-top: 0px;
  display: inline;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.event-date {
  text-align: left;
  color: #8b50e3;
  font-weight: 300;
}

.event-description {
  text-align: left;
  margin-top: 10px;
  background-color: #404040;
  color: rgb(206, 205, 205);
  padding: 10px;
}

.event-image {
  max-height: 310px;
  padding-top: 10px;
  padding-bottom: 10px;

  opacity: 0.5;
}

/*
.overlay {
  background-color: #1c1a30;
  opacity: 0.5;
}*/

.card.event-card {
  margin-bottom: 75px;
  border: none;
  background-color: #1c1a30;
  color: white;
  max-height: 300px;

  margin-right: auto;
  margin-left: auto;
}

/*OTHER*/

.page-title {
  color: white;
  text-align: left;
  font-size: 30px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 20px;
}

/*#404040*/

/*APP*/

/*#272727*/

.app-style {
  background-color: #1c1a30;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
