$mainBackgroundColor: #171629;
$darkPurpleText: #c9b7db;

.page-title-two {
  width: 70px;
  text-align: center;
  color: $darkPurpleText;
  font-size: 40px;
  font-weight: 500;
  padding-top: 40px;
  padding-bottom: 20px;
}

.page-title {
  width: 70px;
  text-align: center;
  color: $darkPurpleText;
  font-size: 30px;
  font-weight: 500;
  padding-top: 40px;
  padding-bottom: 20px;
}

.page-title-line {
  flex: 1;
  height: 1px;
  background-color: #8b50e3;
}

/* NAV*/
.nav-link {
  color: $darkPurpleText !important;
}

.navbar-brand {
  color: $darkPurpleText !important;
}

.navbar {
  background-color: $mainBackgroundColor;
}

.navbar-toggler-icon {
  color: $darkPurpleText !important;
}
/*APP*/

/*#272727*/

.app-style {
  background-color: $mainBackgroundColor;
  height: 100%;
  font-family: lft-etica-mono;
}

.html,
body {
  height: 100vh;
  width: 100vw;
}
