$mainBackgroundColor: #171629;
$darkPurpleText: #c9b7db;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

@media only screen and (max-width: $sm) {
}

//BELOW MD
@media only screen and (max-width: $md) {
  .event-page {
    max-width: 80% !important;
  }
  .card.event-card {
    height: 400px;
    background-color: #282646;
    margin-bottom: 60px;
  }
  .event-image {
    display: none;
  }
  .event-description {
    margin-top: 10px;
    background-color: #282646;
    color: $darkPurpleText;
    text-align: left;
  }

  .event-card-overlay {
    padding: 35px;
  }
}

//MD & UP
@media only screen and (min-width: $md) {
  .event-page {
    max-width: 70% !important;
  }
  .card.event-card {
    margin-bottom: 75px;
    border: none;
    color: white;
    max-height: 300px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: $mainBackgroundColor;
  } /*background-color: #1c1a30;*/
  .event-image {
    display: block;
    height: auto;
    width: 400px !important;
    opacity: 0.5;
  }

  //being ignored rn bc of styles in the eventdisplay file
  .event-row {
    align-items: center;
  }
  .event-description {
    margin-top: 10px;
    background-color: #404040;
    color: rgb(206, 205, 205);
    padding: 20px;
    text-align: left;
  }
}

//DESCRIPTION

//EVENT CARD OVERLAY
/*NOT SURE WHAT FOR
.event-card-overlay {
    background-color: #282646;
    align-items: center;
    padding-left: 30px;
  }
*/

//EVENT PAGE

//EVENT SUBTITLE
//NOTHING CHANGES DEPENDING ON THE VP,
//THE ONLY THE THAT CHALLENGES IS THE LEFT AND RIDE SIDE DEPENDING ON THE ID
//I THINK I CAN REMOVE, AND JUST MAKE ONE .EVENT-SUBTITLE STYLE OBJ
.event-subtitle {
  text-align: left;
  padding-bottom: 10px;
  color: #8b50e3;
  font-weight: 300;
  text-shadow: 1px 1px 1px #000000;
  //font-family: "Courier New", Courier, monospace;
}

/*#4daa5b*/

//EVENT TITLE
.event-title {
  font-weight: bold;
  font-size: 25px !important;
  text-align: left;
  color: $darkPurpleText;
  padding-bottom: 10px;
}

//EVENT TECH
.event-tech-list {
  text-align: left;
  padding: 0;
}
.event-tech {
  color: #8b50e3;
  font-weight: 300;
  padding-top: 0px;
  display: inline;
  padding-right: 20px;
  text-shadow: 1px 1px 1px #000000;
  //font-family: "Courier New", Courier, monospace;
}

//EVENT DATE
.event-date {
  text-align: left;
  color: #8b50e3;
  font-weight: 300;
  text-shadow: 1px 1px 1px #000000;
  //font-family: "Courier New", Courier, monospace;
}

/*
  .event-image {
    //max-height: 310px;
    padding-top: 10px;
    padding-bottom: 10px;
    opacity: 0.5;
  }*/

/*
  .overlay {
    background-color: #1c1a30;
    opacity: 0.5;
  }*/

/*OTHER*/

.page-title {
  width: 70px;
  text-align: center;
  color: $darkPurpleText;
  font-size: 30px;
  font-weight: 500;
  padding-top: 40px;
  padding-bottom: 20px;
}

.page-title-line {
  flex: 1;
  height: 1px;
  background-color: #8b50e3;
}

/*#404040*/

/* NAV*/

.nav-link {
  color: $darkPurpleText !important;
}

.navbar-brand {
  color: $darkPurpleText !important;
}

.navbar {
  background-color: $mainBackgroundColor;
}

.navbar-toggler-icon {
  color: $darkPurpleText !important;
}
/*APP*/

/*#272727*/

.app-style {
  background-color: $mainBackgroundColor;
  height: 100%;
}

.html,
body {
  height: 100vh;
  width: 100vw;
}

/*


@media only screen and (max-width: $md) {
  .event-image {
    display: none;
  }

  .event-description {
    margin-top: 10px;
    background-color: #282646;
    color: $darkPurpleText;
  }

  .event-row {
    align-items: center;
    justify-content: center;
  }

  .event-card {
    min-height: 300px;
    background-color: #282646;
  }

  .event-card-overlay {
    background-color: #282646;
    align-items: center;
    padding-left: 30px;
  }
}

@media only screen and (min-width: $sm) {
}


@media only screen and (min-width: $md) {
  .event-image {
    display: block;
  }

  .event-description {
    margin-top: 10px;
    background-color: #404040;
    color: rgb(206, 205, 205);
    padding: 15px;
  }

  .event-page {
    max-width: 80% !important;
  }
  //being ignored rn bc of styles in the eventdisplay file
  .event-row {
    align-items: center;
  }

  .event-card .card-img-overlay {
  }
}

@media only screen and (min-width: $lg) {
}
@media only screen and (min-width: $xl) {
}

*/
